@media (max-width: 1024px) {
.footer {    
    background-position: -190% 100%, -299% 100%;
    background-repeat: no-repeat;
    background-size: 78%, 107%;
    &__blocks {
        &_rights {
            min-height: 100px;
            & img {
                margin-bottom: 20px;
            }
        }
        &_contacts {
            &_time {
                width: 47%;
            }
        }
    }    
}

/* end */
}