@media (max-width: 1024px) {
  .header {
    background-position: -8% 50%, 139% 100%;
    background-repeat: no-repeat;
    background-size: 0%, 76%;
  }

  .programs {
    &__blocks {
      &_card {
        min-height: 200px;
      }
    }
  }

  .process {
    background-position: 97% 107%;
  }
  .benefits {
    &__blocks {
      &_item {
        margin-bottom: 55px;
        & div {
          &:nth-child(1) {
            min-height: 137px;
          }
        }
      }
    }
  }
}
