@media (max-width: 1024px) {
  .header {
    background-position: -8% 50%, 139% 100%;
    background-repeat: no-repeat;
    background-size: 0%, 76%;
  }

  .process {
    background-position: 97% 107%;
  }
}