@media (max-width: 768px) {
  .footer {
    background: url(/img/footer-mobile.svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%;

    &-wrap {
      &:before {
        content: url('/img/diamonds-left-mob.svg');
        top: 161px;
        left: -17px;
      }

      &:after {
        content: url('/img/diamonds-right-mob.svg');
        bottom: 179px;
        right: 10px;
      }
    }

    &__blocks {
      padding: 17px 0 3px 15px;

      &_rights {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;

        & img {
          width: 42%;
        }

        & p {
          width: 45%;
          padding-top: 15px;
        }
      }

      &_contacts {
        padding-left: 0;
        padding-right: 0;

        &_adress {
          &_row {
            & div {
              &:nth-child(1) {
                width: 30%;
                padding-right: 0;
                text-align: left;
              }
            }
          }
        }

        &_time {
          width: 45%;
        }
      }
    }
  }

}