@media (max-width: 768px) {
  .body-page {
    background: url(/img/footer-page-img-768.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .page {
    padding-top: 140px;
  }

  .programs {
    &-header {
      width: 55%;
    }

    &__blocks {
      &_card {
        min-height: 188px;
        padding: 5px 12px 6px 12px;
        background-position: -20% 164%, 100% 0%;
        background-size: 80%, 37vh;
      }
    }
  }

  .process {
    background-size: 36%;

    &__blocks {
      &_item {
        margin-bottom: 25px;
      }
    }
  }

  .benefits {
    &-header {
      width: 52%;
    }

    &__blocks {
      &_item {
        margin-bottom: 38px;

        & div {
          &:nth-child(1) {
            min-height: 114px;
          }
        }

      }
    }
  }

  .footer {
    &-wrap {
      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }
}