.main-page-footer {
    background: linear-gradient(1deg, #89a98f 0%, #99BFA1 44.79%, #99BFA1 100%);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $bg-green;
    background: url('/img/footer-left.png'),url('/img/footer-right.png');
    background-position: -15% 104%, 107% 100%;
    background-repeat: no-repeat;
    background-size: 45%, 60%;
    &-wrap {
        position: relative;
        z-index: 1;
        margin-bottom: 56px;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        &-bg{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba(255, 255, 255, 0.44);
            backdrop-filter: blur(11px);
        }
        &:before {
            position: absolute;
            content: url('/img/diamonds-left.png');
            top: 2px;
            left: -60px;
            z-index: -10;
        }
        &:after {
            position: absolute;
            content: url('/img/diamonds-right.png');
            bottom: 2px;
            right: -60px;
            z-index: -10;
        }
    }
    &__blocks {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 17px 0 3px 5px;
        box-sizing: border-box;
        &_rights {
            display: flex;
            flex-direction: column;
            & img {
                width: 70%;
            }
        }
        &_contacts {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &_adress {
                width: 50%;
                &_row {
                    display: flex;
                    & div {
                        &:nth-child(1){
                            width: 38%;
                            padding-right: 20px;
                            text-align: right;
                        }
                        &:nth-child(2){
                            width: 80%;
                        }
                    }
                }
            }
            &_time {
                width: 40%;
            }
        }
    }    
}