.body-page {
  background: url(/img/footer-page-img-1920.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 56px;
}

.page {
  padding-top: 100px;
  padding-bottom: 100px;

  &__sidebar {
    margin-bottom: 65px;
  }

  &__content {
    margin-bottom: 45px;
  }
}

.footer {
  &-wrap {
    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}

.footer-page {
  display: flex;
  align-items: flex-end;
}