/* cover */
header {
  background: linear-gradient(90deg, #83A58A 0%, #99BFA1 44.79%, #99BFA1 100%);
}

.header {
  background: url('/img/cover-img-left.png'), url('/img/cover-img-right.png');
  background-position: -8% 50%, 126% 100%;
  background-repeat: no-repeat;
  background-size: 19%, 69%;
}

.cover {
  display: flex;
  align-items: center;
  min-height: 69vh;
  margin-bottom: -71px;

  &__content {
    margin-top: -8%;
  }
}

/* 1 block */
.programs {
  margin-bottom: $section-margin-bottomn;

  &-header {
    position: relative;
    height: 72px;
    width: 40%;
    background-color: #fff;

    &::before {
      content: '';
      position: absolute;
      right: -113px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 71px 0 0px 114px;
      border-color: transparent transparent transparent #ffffff;
    }
  }

  & h2 {
    position: relative;
    z-index: 1;
    margin-top: -31px;

  }

  &__blocks {
    &_card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 163px;
      padding: 5px 22px 18px 22px;
      background-color: $card-grey;
      box-shadow: $box-shadow-container;
      background: url('/img/bg-card_grey-left.png'), url('/img/bg-card_grey-right.png');
      background-position: 0% 100%, 100% 0%;
      background-repeat: no-repeat;
      background-size: 100%, 35vh;
    }
  }
}

/* modal */
.form {
  position: relative;
  height: 100vh;  
  overflow: hidden;
  &__block {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    // padding: 75px 0 75px 0;
    overflow-y: auto;
    background-color: #0c0c0c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    // justify-content: center;
    &_wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      min-height: 163px;
      padding: 30px 30px 35px 30px;  
      position: relative;    
      box-shadow: $box-shadow-container;
      background: url('/img/bg-card_grey-right.png');
      background-position: 50% 5%;
      background-repeat: no-repeat;
      background-size: 63vh;
      background-color: white;
      input {
        width: 100%;
        height: 35px;
        margin: 0 0 5px 0;
        padding: 0 0 0 5px;
        border: 1px solid #767676;
        outline: none;
      }
      input[type=checkbox]{
        width: 3%;
        margin-right: 15px;
      }
      input[type=radio]{
        width: 3%; // wp 7%
        height: 16px;
        margin: 0 15px 5px 0;
      }
      input[type=submit]{
        width: 49%;
      }
      input[type=reset]{
        width: 49%;
      }
      input[type=submit]{
        text-transform: uppercase;
        background-color: $btn-page;
        border: none;
        box-shadow: $box-shadow-container;
        &:hover {
          background-color: lighten($btn-page, 5%);
        }
        &:active {
          background-color: darken($btn-page, 10%);
        }
      }
      input[type=reset]{
        text-transform: uppercase;
        background-color: #a4a4a4;
        border: none;
        box-shadow: $box-shadow-container;
        &:hover {
          background-color: #bebebe;
        }
        &:active {
          background-color: #898989;
        }
      }
      textarea {
        width: 100%;
        height: 65px;
        padding: 0 0 0 5px;
        border: 1px solid #767676;
        outline: none;
        resize: none;
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: space-between;
    // justify-content: center;
  }

}  
label {
  // margin-bottom: 5px;
}
label:after {
  content: " *";
  font-size: 1.2em;
  color:red;
}
label[for=input-message]:after {
  content: none;
}
label[for=prof] {
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.modal__close, .modal__close-attention {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 10px;
  border-radius: 5px;
  cursor: pointer;
  &-svg {
    width: 50%;
  }
}

.form2 {
  position: relative;
  height: 100vh;  
  overflow: hidden;
  &__block-attention {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #0c0c0c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    &_wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      min-height: 163px;
      padding: 60px 30px 60px 30px;  
      position: relative;    
      box-shadow: $box-shadow-container;
      background: url('/img/bg-card_grey-right.png');
      background-position: 50% 5%;
      background-repeat: no-repeat;
      background-size: 63vh;
      background-color: white;
    }
  }
}

/* 2 block */
.process {
  background: url('/img/bg-grey-right-1.png');
  background-position: 97% 125%;
  background-repeat: no-repeat;
  background-size: 20%;

  &__blocks {
    padding-bottom: 130px;

    &_item {
      display: flex;
    }
  }
}

/* 3 block */
.benefits {
  margin-top: -70px;

  &-header {
    position: relative;
    height: 72px;
    width: 36%;
    background-color: $bg-green;

    &::before {
      content: '';
      position: absolute;
      right: -113px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 71px 0 0px 114px;
      border-color: transparent transparent transparent $bg-green;
    }
  }

  & h2 {
    position: relative;
    z-index: 1;
    margin-top: -31px;

  }

  &__blocks {
    &_item {
      margin-bottom: 55px;

      & div {
        &:nth-child(1) {
          min-height: 107px;
        }
      }

    }
  }
}