@media (max-width: 1024px) {
  .programs {
    &__blocks {
      &_card {
        min-height: 200px;
      }
    }
  }

  .process {
    background-position: 97% 107%;
  }
  .form {
    &__block {
      align-items: flex-start;
      padding-top: 20px;
      padding-bottom: 20px;
      &_wrap {
        width: 60%;
      }
    }
  }
  .benefits {
    &__blocks {
      &_item {
        margin-bottom: 55px;
        & div {
          &:nth-child(1) {
            min-height: 137px;
          }
        }
      }
    }
  }
}
