@media (min-width: 769px) and (max-width: 991px) {
  .top-menu {
    display: none;
  }
  // если меню переполняется
  .menu--center {
    overflow: scroll;
    max-height: 84vh;

    & form {
      margin-bottom: 30px;
    }
  }
  .header {
    background-position: -8% 50%, 842% 100%;
    background-size: 0%, 95%;
  }
  .body-page {
    background: url(/img/footer-page-img-1920.png);
    background-position: 61.5% 100%;
    background-repeat: no-repeat;
    background-size: 180%;
}
  .page {
  padding-top: 145px;
  }
  .cover {
    min-height: 70vh;
  }
  .footer {
    &__blocks {
      &_rights {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        & img {
          width: 37%;
        }

        & p {
          width: 45%;
          padding-top: 8px;
        }
      }
    }
  }
}