@media (max-width: 360px) {
  .footer {
    background-position: 0% 102%, 100% 68%, 50% 100%;
    background-repeat: no-repeat;
    background-size: 26%, 43%, 208%;
    height: 1240px;
  }
  /* end */
  }