@media (max-width: 360px) {
  .cover {
    min-height: 100vh;

    &__content {
      margin-top: -8%;
    }
  }

  .programs {
    &__blocks {
      &_card {
        padding: 5px 24px 5px 24px;
        background-position: 0% 94%, 100% 0%;
        background-size: 91%, 50vh;
      }
    }
  }

  .process {
    background-size: 67%;
  }

  .form {
    &__block {
      align-items: flex-start;
      padding-top: 20px;
      padding-bottom: 20px;
      &_wrap {
        width: 94%;
        padding: 22px 13px 26px 13px;
        input[type=radio]{
          width: 5%;
        }
      }
    }
  }
  label {
    font-size: 0.8em;
  }
  .mark-p {
    font-size: 0.8em;
  }

}