@media (max-width : 1280px) {


  .process {
    background-position: 97% 111%;
    background-size: 25%;
  }

  .programs {
    &__blocks {
      &_item {
        & div {
          &:nth-child(1) {
            min-height: 130px;
          }
        }
      }
    }
  }
  .form {
    &__block {
      &_wrap {
        width: 50%;
      }
    }
  }
}