@charset "UTF-8";
/* 1_desctop-от 1600 до 1920 */
/* start footer down */
html,
body {
  height: 100%; }

.body-page {
  min-height: 100%; }

.footer-page {
  height: 217.02px;
  margin-top: -217.02px; }

.clr {
  height: 161.02px; }

@media (min-width: 769px) and (max-width: 991px) {
  .footer-page {
    height: 259.63px;
    margin-top: -259.63px; }

  .clr {
    height: 259.63px; } }
@media (max-width: 768px) {
  .footer-page {
    height: 259.98px;
    margin-top: -259.98px; }

  .clr {
    height: 259.98px; } }
@media (max-width: 480px) {
  .footer-page {
    height: 455.59px;
    margin-top: -455.59px; }

  .clr {
    height: 455.59px; } }
/* end footer down */
.first-font, h1, h2, .text-cover1, .text-cover2, .programs__blocks_card p:nth-child(1), .numbers, .form__block_wrap p:nth-child(2), .form2__block-attention_wrap p:nth-child(2), .accordion-header-sidebar, .accordion-header-main {
  font-family: 'G Display', sans-serif; }

.second-font, .text-cover1:before, .text-basic,
p, a, .top-menu-link, .programs__blocks_card p:nth-child(2), .form__block_wrap p:nth-child(3), .form__block_wrap p:nth-child(5), .form2__block-attention_wrap p:nth-child(3), .accordion-body a, .btn-cover, .btn-page, .nav-link {
  font-family: 'Roboto', sans-serif; }

/* h1 */
h1 {
  font-size: 2.29em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
  color: #1D1D1D; }

h2 {
  font-size: 1.6em;
  font-stretch: normal;
  font-style: normal;
  line-height: 149%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 55px; }

.h2-page {
  margin-top: -10px;
  margin-bottom: 0.5em; }

.text-cover1 {
  position: relative;
  font-size: 1.3em;
  text-align: right;
  color: #4B594E;
  margin-bottom: 20px; }
  .text-cover1:before {
    position: absolute;
    top: -2px;
    right: 247px;
    content: '>';
    font-size: 1.6em; }

.text-cover2 {
  font-size: 1.3em;
  line-height: 161%;
  text-transform: lowercase;
  color: #E2F0E5;
  margin-bottom: 55px; }
  .text-cover2 span {
    margin-left: 39%;
    text-transform: uppercase;
    color: white; }

/* main text */
.text-basic,
p {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  color: #1D1D1D;
  margin-bottom: 15px; }

.benefits__blocks_item div p {
  margin-bottom: 0; }

.text--grey {
  color: #636363; }

.text--green {
  color: #609F6D; }

.text--white {
  color: white; }

.footer-wrap div p, .footer-wrap div a {
  font-size: 0.875em;
  text-decoration: none;
  color: #1D1D1D; }

.footer-wrap div strong {
  font-size: 1em;
  text-transform: lowercase; }

a {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  text-transform: lowercase;
  color: #3C7D4A; }
  a:hover {
    color: #2b5b36; }

.top-menu-link {
  display: block;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #494949; }
  .top-menu-link:hover {
    color: #161616; }

.programs__blocks_card p:nth-child(1) {
  display: block;
  font-size: 2.44em;
  text-transform: uppercase; }
.programs__blocks_card p:nth-child(2) {
  font-size: 1em;
  text-transform: uppercase;
  text-align: right; }

.numbers {
  display: block;
  margin-right: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 89%;
  letter-spacing: 0.05em;
  color: #8EC59A; }

.process__item p {
  display: block;
  line-height: 120%; }

.form__block_wrap p:nth-child(2) {
  display: block;
  font-size: 1.6em;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center; }
.form__block_wrap p:nth-child(3) {
  font-size: 1em;
  margin-bottom: 10px; }

.form__block_wrap p:nth-child(4) {
  display: block;
  font-family: 'G Display', sans-serif;
  font-size: 1.6em;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center; }
.form__block_wrap p:nth-child(5) {
  font-size: 1em;
  margin-bottom: 10px; }

.form2__block-attention_wrap p:nth-child(2) {
  display: block;
  font-size: 1.6em;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center; }
.form2__block-attention_wrap p:nth-child(3) {
  font-size: 1em;
  text-align: center; }

.accordion-header-sidebar {
  font-size: 0, 875em;
  font-stretch: normal;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

@media (max-width: 1200px) {
  .accordion-header-sidebar {
    font-size: 0.8rem; } }
@media (max-width: 768px) {
  .accordion-header-sidebar {
    font-size: 1rem; } }
.accordion-header-main {
  font-size: 0, 875em;
  font-stretch: normal;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.05em; }

.accordion-body a {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-transform: none;
  color: #636363;
  display: block;
  margin: 0 0 11px 0;
  padding: 0 0 0 10px; }
  .accordion-body a:hover {
    background-color: #d8e6db; }

.top-menu__blocks {
  padding: 20px 0 1px 0; }
  .top-menu__blocks_unit {
    display: flex;
    justify-content: flex-end; }
    .top-menu__blocks_unit div:nth-child(1) {
      width: 47%; }
    .top-menu__blocks_unit div:nth-child(2) {
      width: 50%;
      padding-left: 34px;
      list-style: none; }
    .top-menu__blocks_unit div ul li:nth-child(2) {
      margin-left: 37px; }
    .top-menu__blocks_unit div ul li:nth-child(3) {
      margin-bottom: 0; }
    .top-menu__blocks_unit div ul li i {
      color: white;
      padding-right: 14px; }
    .top-menu__blocks_unit div ul li a {
      color: #1D1D1D;
      text-decoration: none; }
    .top-menu__blocks_unit div ul li img {
      display: inline-block;
      padding-right: 19px; }

.bottom-menu {
  position: relative;
  z-index: 100;
  background: rgba(255, 255, 255, 0.44);
  backdrop-filter: blur(11px);
  box-shadow: 0 2px 4px -1px rgba(34, 34, 34, 0.49); }

@media (max-width: 991px) {
  .bottom-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%; } }
@media (max-width: 768px) {
  .bottom-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%; } }
.bottom-menu-scroll--scrolled {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  animation-name: fadeInUp;
  animation-duration: 0.5s; }

@keyframes fadeInUp {
  from {
    opasity: 0;
    top: -50px; }
  to {
    opasity: 10;
    top: 0; } }
.logo_hide {
  display: none; }

@media (max-width: 991px) {
  .logo_hide {
    display: block; } }
.logo--nohide {
  display: block; }

@media (max-width: 1024px) {
  .form-hide {
    display: none !important; } }
/* cover */
header {
  background: linear-gradient(90deg, #83A58A 0%, #99BFA1 44.79%, #99BFA1 100%); }

.header {
  background: url("../../img/cover-img-left.svg"), url("../../img/cover-img-right.svg");
  background-position: -5% 50%, 126% 100%;
  background-repeat: no-repeat;
  background-size: 19%, 69%; }

.cover {
  display: flex;
  align-items: center;
  min-height: 69vh;
  margin-bottom: -71px; }
  .cover__content {
    margin-top: -8%; }

@media (min-width: 1600px) {
  .cover__content {
    width: 62%; }

  h1 {
    font-size: 3em; } }
@media (max-width: 1280px) {
  .header {
    background-position: -5% 50%, 131% 100%;
    background-size: 19%, 73%; } }
@media (max-width: 1024px) {
  .header {
    background-position: -5% 50%, 196% 100%;
    background-repeat: no-repeat;
    background-size: 22%, 84%; }

  .cover {
    display: flex;
    align-items: center;
    min-height: 580px;
    margin-bottom: -71px; } }
@media (max-width: 768px) {
  .header {
    background-position: -8% 30%, -100% 100%;
    background-size: 39%, 128%; }

  .cover {
    min-height: 640px;
    padding-top: 46px; } }
@media (max-width: 480px) {
  .header {
    background-position: -8% 37%, -39% 199%;
    background-size: 43%, 147%; }

  .cover {
    min-height: 500px;
    padding-top: 96px;
    margin-bottom: 0; } }
@media (max-width: 360px) {
  .header {
    background-position: -7% 23%, -14% 140%;
    background-repeat: no-repeat;
    background-size: 48%, 197%; }

  .cover {
    padding-top: 91px; } }
/* 1 block */
.programs {
  margin-bottom: 55px; }
  .programs-header {
    position: relative;
    height: 72px;
    width: 40%;
    background-color: #fff; }
    .programs-header::before {
      content: '';
      position: absolute;
      right: -113px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 71px 0 0px 114px;
      border-color: transparent transparent transparent #ffffff; }
  .programs h2 {
    position: relative;
    z-index: 1;
    margin-top: -31px; }
  .programs .programs__item {
    text-decoration: none;
    cursor: pointer; }
  .programs__blocks_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
    padding: 5px 22px 18px 22px;
    background-color: #F7F7F7;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background: url("../../img/bg-card_grey-left.svg"), url("../../img/bg-card_grey-right.svg");
    background-position: 0% 100%, 100% 0%;
    background-repeat: no-repeat;
    background-size: 100%, 35vh; }
    .programs__blocks_card p:nth-child(2) {
      margin-bottom: 0; }

/* modal */
.form {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .form__block {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #0c0c0c5c;
    display: flex;
    justify-content: center;
    align-items: center; }
    .form__block_wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      min-height: 163px;
      padding: 30px 30px 35px 30px;
      position: relative;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
      background: url("/img/bg-card_grey-right.svg");
      background-position: 50% 5%;
      background-repeat: no-repeat;
      background-size: 63vh;
      background-color: white; }
      .form__block_wrap input {
        width: 100%;
        height: 35px;
        margin: 0 0 5px 0;
        padding: 0 0 0 5px;
        border: 1px solid #767676;
        outline: none; }
      .form__block_wrap input[type=checkbox] {
        width: 3%;
        margin-right: 15px; }
      .form__block_wrap input[type=radio] {
        width: 3%;
        height: 16px;
        margin: 0 15px 5px 0; }
      .form__block_wrap input[type=submit] {
        width: 49%; }
      .form__block_wrap input[type=reset] {
        width: 49%; }
      .form__block_wrap input[type=submit] {
        text-transform: uppercase;
        background-color: #99bfa1;
        border: none;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }
        .form__block_wrap input[type=submit]:hover {
          background-color: #a9c9af; }
        .form__block_wrap input[type=submit]:active {
          background-color: #7aab84; }
      .form__block_wrap input[type=reset] {
        text-transform: uppercase;
        background-color: #a4a4a4;
        border: none;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }
        .form__block_wrap input[type=reset]:hover {
          background-color: #bebebe; }
        .form__block_wrap input[type=reset]:active {
          background-color: #898989; }
      .form__block_wrap textarea {
        width: 100%;
        height: 65px;
        padding: 0 0 0 5px;
        border: 1px solid #767676;
        outline: none;
        resize: none; }
  .form-btn {
    display: flex;
    justify-content: space-between; }

label:after {
  content: " *";
  font-size: 1.2em;
  color: red; }

label[for=input-message]:after {
  content: none; }

label[for=prof] {
  margin-bottom: 10px; }

.hide {
  display: none; }

.modal__close, .modal__close-attention {
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 26px;
  padding-bottom: 5px; }

.form2 {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .form2__block-attention {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #0c0c0c5c;
    display: flex;
    justify-content: center;
    align-items: center; }
    .form2__block-attention_wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      min-height: 163px;
      padding: 60px 30px 60px 30px;
      position: relative;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
      background: url("../../img/bg-card_grey-right.svg");
      background-position: 50% 5%;
      background-repeat: no-repeat;
      background-size: 63vh;
      background-color: white; }

/* 2 block */
.process {
  background: url("../../img/bg-grey-right-1.svg");
  background-position: 97% 125%;
  background-repeat: no-repeat;
  background-size: 20%; }
  .process__blocks {
    padding-bottom: 130px; }
    .process__blocks_item {
      display: flex; }

/* 3 block */
.benefits {
  margin-top: -70px; }
  .benefits-header {
    position: relative;
    height: 72px;
    width: 36%;
    background-color: #99BFA1; }
    .benefits-header::before {
      content: '';
      position: absolute;
      right: -113px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 71px 0 0px 114px;
      border-color: transparent transparent transparent #99BFA1; }
  .benefits h2 {
    position: relative;
    z-index: 1;
    margin-top: -31px; }
  .benefits__blocks_item {
    margin-bottom: 55px; }
    .benefits__blocks_item div:nth-child(1) {
      min-height: 107px; }

.body-page {
  background: url(../../img/footer-page-img-1920.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 56px; }

.page {
  padding-top: 100px;
  padding-bottom: 100px; }
  .page__sidebar {
    margin-bottom: 65px; }
  .page__content {
    margin-bottom: 45px; }

.footer-wrap:before {
  display: none; }
.footer-wrap:after {
  display: none; }

.footer-page {
  display: flex;
  align-items: flex-end; }

.main-page-footer {
  background: linear-gradient(1deg, #89a98f 0%, #99BFA1 44.79%, #99BFA1 100%); }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #99BFA1;
  background: url("../../img/footer-left.svg"), url("../../img/footer-right.svg");
  background-position: -15% 104%, 107% 100%;
  background-repeat: no-repeat;
  background-size: 45%, 60%; }
  .footer-wrap {
    position: relative;
    z-index: 1;
    margin-bottom: 56px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box; }
    .footer-wrap-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(255, 255, 255, 0.44);
      backdrop-filter: blur(11px); }
    .footer-wrap:before {
      position: absolute;
      content: url("../../img/diamonds-left.svg");
      top: 2px;
      left: -60px;
      z-index: -10; }
    .footer-wrap:after {
      position: absolute;
      content: url("../../img/diamonds-right.svg");
      bottom: 2px;
      right: -60px;
      z-index: -10; }
  .footer__blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 17px 0 3px 5px;
    box-sizing: border-box; }
    .footer__blocks_rights {
      display: flex;
      flex-direction: column; }
      .footer__blocks_rights img {
        width: 70%; }
    .footer__blocks_contacts {
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      .footer__blocks_contacts_adress {
        width: 50%; }
        .footer__blocks_contacts_adress_row {
          display: flex; }
          .footer__blocks_contacts_adress_row div:nth-child(1) {
            width: 38%;
            padding-right: 20px;
            text-align: right; }
          .footer__blocks_contacts_adress_row div:nth-child(2) {
            width: 80%; }
      .footer__blocks_contacts_time {
        width: 40%; }

.btn-cover {
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  background-color: #850E1C;
  border: none;
  border-radius: 3px;
  padding: 11px 48px 10px 48px; }
  .btn-cover:hover {
    background-color: #9c1021; }
  .btn-cover:active {
    background-color: #770d19; }

.btn-page {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1d1d1d;
  background-color: #99bfa1;
  border: none;
  border-radius: 3px;
  padding: 12px 48px 11px 48px;
  box-shadow: 0 2px 4px -1px rgba(34, 34, 34, 0.49);
  text-decoration: none; }
  .btn-page:hover {
    background-color: #a9c9af;
    color: #1D1D1D; }
  .btn-page:active {
    background-color: #7aab84; }

/* 2_desctop-от 1280 до 1600 */
@media (max-width: 1600px) {
  .benefits__blocks_item {
    margin-bottom: 65px; } }
@media (max-width: 1600px) {
  .body-page {
    background-size: 120%; } }
@media (max-width: 1600px) {
  .footer {
    background-position: -15% 104%, 107% 100%;
    background-repeat: no-repeat;
    background-size: 45%, 60%; } }
/* 3_desctop-от 1024 до 1280 */
@media (max-width: 1280px) {
  .process {
    background-position: 97% 111%;
    background-size: 25%; }

  .programs__blocks_item div:nth-child(1) {
    min-height: 130px; }

  .form__block_wrap {
    width: 50%; } }
@media (max-width: 1280px) {
  .body-page {
    background-size: 150%; } }
@media (max-width: 1280px) {
  .footer {
    background-position: -42% 100%, 340% 100%;
    background-repeat: no-repeat;
    background-size: 57%, 90%; }
    .footer-wrap:before {
      left: 0; }
    .footer-wrap:after {
      right: 0; } }
/* 4_tablet-от 768 до 1024 */
@media (max-width: 1024px) {
  h1 {
    font-size: 1.9em; }

  .text-cover2 span {
    margin-left: 33%; } }
@media (max-width: 1024px) {
  .top-menu__blocks_unit div:nth-child(2) {
    width: 50%;
    padding-left: 20px; } }
@media (max-width: 1024px) {
  .programs__blocks_card {
    min-height: 200px; }

  .process {
    background-position: 97% 107%; }

  .form__block {
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px; }
    .form__block_wrap {
      width: 60%; }

  .benefits__blocks_item {
    margin-bottom: 55px; }
    .benefits__blocks_item div:nth-child(1) {
      min-height: 137px; } }
@media (max-width: 1024px) {
  .body-page {
    background-position: 63.5% 100%;
    background-size: 188%; } }
@media (max-width: 1024px) {
  .footer {
    background-position: -190% 100%, -299% 100%;
    background-repeat: no-repeat;
    background-size: 78%, 107%; }
    .footer__blocks_rights {
      min-height: 100px; }
      .footer__blocks_rights img {
        margin-bottom: 20px; }
    .footer__blocks_contacts_time {
      width: 47%; } }
/* 5_tablet-от 480 до 768*/
@media (max-width: 768px) {
  .nav-link {
    position: relative;
    font-size: 1.2em; }
    .nav-link::after {
      content: '';
      position: absolute;
      display: block;
      width: 20%;
      height: 2px;
      bottom: 0;
      left: 40%;
      background: #B90A1F;
      transform: translateY(2px) scale(0);
      transition: all 0.1s; }
    .nav-link:hover {
      color: #B90A1F; }
      .nav-link:hover::after {
        transform: translateY(2px) scale(1); }
    .nav-link:focus {
      color: #B90A1F; }
      .nav-link:focus::after {
        transform: translateY(2px) scale(0); }

  .dropdown-menu {
    background-color: #d8e6db; }

  .dropdown-item {
    text-align: center;
    text-transform: lowercase;
    padding-top: 0.6em;
    padding-bottom: 0.8em;
    white-space: normal;
    line-height: 110%; } }
@media (max-width: 768px) {
  .top-menu {
    display: none; }

  .menu--center {
    overflow: scroll;
    max-height: 84vh; }
    .menu--center form {
      margin-bottom: 30px; } }
@media (max-width: 768px) {
  .programs-header {
    width: 55%; }
  .programs__blocks_card {
    min-height: 175px;
    padding: 5px 12px 18px 12px;
    background-position: 34% 164%, 100% 0%;
    background-size: 144%, 45vh; }

  .process {
    background-size: 36%; }
    .process__blocks_item {
      margin-bottom: 25px; }

  .form__block {
    align-items: center; }
    .form__block_wrap {
      width: 80%; }

  .benefits-header {
    width: 52%; }
  .benefits__blocks_item {
    margin-bottom: 95px; }
    .benefits__blocks_item div:nth-child(1) {
      min-height: 193px; } }
@media (max-width: 768px) {
  .body-page {
    background: url(/img/footer-page-img-768.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%; }

  .page {
    padding-top: 140px; }

  .programs-header {
    width: 55%; }
  .programs__blocks_card {
    min-height: 188px;
    padding: 5px 12px 6px 12px;
    background-position: -20% 164%, 100% 0%;
    background-size: 80%, 37vh; }

  .process {
    background-size: 36%; }
    .process__blocks_item {
      margin-bottom: 25px; }

  .benefits-header {
    width: 52%; }
  .benefits__blocks_item {
    margin-bottom: 38px; }
    .benefits__blocks_item div:nth-child(1) {
      min-height: 114px; }

  .footer-wrap:before {
    display: none; }
  .footer-wrap:after {
    display: none; } }
@media (max-width: 768px) {
  .footer {
    background: url(/img/footer-mobile.svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%; }
    .footer-wrap:before {
      content: url("/img/diamonds-left-mob.svg");
      top: 161px;
      left: -17px; }
    .footer-wrap:after {
      content: url("/img/diamonds-right-mob.svg");
      bottom: 179px;
      right: 10px; }
    .footer__blocks {
      padding: 17px 0 3px 15px; }
      .footer__blocks_rights {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box; }
        .footer__blocks_rights img {
          width: 42%; }
        .footer__blocks_rights p {
          width: 45%;
          padding-top: 15px; }
      .footer__blocks_contacts {
        padding-left: 0;
        padding-right: 0; }
        .footer__blocks_contacts_adress_row div:nth-child(1) {
          width: 30%;
          padding-right: 0;
          text-align: left; }
        .footer__blocks_contacts_time {
          width: 45%; } }
@media (max-width: 768px) {
  .btn-cover {
    font-size: 1.4em; } }
/* 6_mob-от 360 до 480*/
@media (max-width: 480px) {
  h2 {
    margin-bottom: 27px; }

  .text-cover2 {
    font-size: 1.2em; }
    .text-cover2 span {
      margin-left: 15%; }

  .form__block_wrap p:nth-child(1) {
    display: block;
    font-size: 1.2em;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center; }
  .form__block_wrap p:nth-child(2) {
    font-size: 0.8em;
    line-height: 120%;
    margin-bottom: 10px; } }
@media (max-width: 480px) {
  .programs__blocks_card {
    min-height: 1px;
    margin-bottom: 11px;
    padding: 5px 24px 10px 24px;
    background-position: 0% 98%, 100% 0%;
    background-size: 78%, 37vh; }

  .process {
    background-size: 55%; }
    .process__blocks {
      padding-bottom: 62px; }

  .form__block_wrap {
    width: 94%;
    padding: 30px 20px 30px 20px; }
    .form__block_wrap input[type=radio] {
      width: 5%; }

  label {
    font-size: 0.8em; }

  .mark-p {
    font-size: 0.8em; }

  .benefits {
    margin-top: 0;
    padding-top: 45px; }
    .benefits-header {
      display: none; }
    .benefits h2 {
      margin-top: 0; }
    .benefits__blocks_item {
      margin-bottom: 0; }
      .benefits__blocks_item div {
        margin-bottom: 25px; }
        .benefits__blocks_item div:nth-child(1) {
          min-height: 0; }
        .benefits__blocks_item div:nth-child(2) {
          margin-bottom: 25px; } }
@media (max-width: 480px) {
  .body-page {
    background: url(/img/footer-page-img-480.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%; }

  .page {
    padding-top: 130px; }

  .programs {
    padding-top: 45px; }
    .programs-header {
      display: none; }
    .programs h2 {
      margin-top: 0; }

  .process {
    background-size: 55%; }
    .process__blocks {
      padding-bottom: 62px; }

  .benefits {
    margin-top: 0;
    padding-top: 45px; }
    .benefits-header {
      display: none; }
    .benefits h2 {
      margin-top: 0; }
    .benefits__blocks_item {
      margin-bottom: 0; }
      .benefits__blocks_item div {
        margin-bottom: 25px; }
        .benefits__blocks_item div:nth-child(1) {
          min-height: 0; }
        .benefits__blocks_item div:nth-child(2) {
          margin-bottom: 25px; } }
@media (max-width: 480px) {
  .footer {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 150%; }
    .footer-wrap {
      width: 94%;
      margin-left: auto;
      margin-right: auto; }
      .footer-wrap:before {
        top: 354px;
        left: 11px; }
      .footer-wrap:after {
        bottom: 376px;
        right: 10px; }
    .footer__blocks_rights {
      flex-direction: column;
      justify-content: flex-start;
      min-height: 160px; }
      .footer__blocks_rights img {
        width: 58%;
        margin-bottom: 16px; }
      .footer__blocks_rights p {
        width: 100%;
        padding-top: 0; }
    .footer__blocks_contacts {
      flex-direction: column; }
      .footer__blocks_contacts_adress {
        width: 100%;
        margin-bottom: 20px; }
        .footer__blocks_contacts_adress_row div:nth-child(1) {
          width: 30%;
          padding-right: 10px;
          text-align: left; }
        .footer__blocks_contacts_adress_row div:nth-child(2) {
          width: 80%; }
      .footer__blocks_contacts_time {
        width: 100%; } }
/* 7_mob-до 360*/
@media (max-width: 360px) {
  .text-cover1 {
    margin-bottom: 12px; }

  .text-cover2 {
    font-size: 1.1em; }
    .text-cover2 span {
      font-size: 1.4em;
      margin-left: 0; } }
@media (max-width: 360px) {
  .programs__blocks_card {
    padding: 5px 24px 5px 24px;
    background-position: 0% 94%, 100% 0%;
    background-size: 91%, 50vh; }

  .process {
    background-size: 67%; }

  .form__block {
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px; }
    .form__block_wrap {
      width: 94%;
      padding: 22px 13px 26px 13px; }
      .form__block_wrap input[type=radio] {
        width: 5%; }

  label {
    font-size: 0.8em; }

  .mark-p {
    font-size: 0.8em; } }
@media (max-width: 360px) {
  .body-page {
    background-size: 126%; } }
@media (max-width: 360px) {
  .footer {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 208%; } }
/* 969-991*/
@media (min-width: 769px) and (max-width: 991px) {
  .top-menu {
    display: none; }

  .menu--center {
    overflow: scroll;
    max-height: 84vh; }
    .menu--center form {
      margin-bottom: 30px; }

  .body-page {
    background: url(../../img/footer-page-img-1920.png);
    background-position: 61.5% 100%;
    background-repeat: no-repeat;
    background-size: 180%; }

  .page {
    padding-top: 145px; }

  .programs-header {
    width: 57%; }

  .benefits-header {
    width: 57%; }
  .benefits__blocks_item div:nth-child(1) {
    min-height: 188px; }

  .footer__blocks_rights {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .footer__blocks_rights img {
      width: 37%; }
    .footer__blocks_rights p {
      width: 45%;
      padding-top: 8px; } }
/* переопределение bootstrap */
.nav-link {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  text-transform: lowercase;
  color: #1D1D1D; }
  .nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #B90A1F;
    transform: translateY(2px) scale(0);
    transition: all 0.1s; }
  .nav-link:hover {
    color: #B90A1F; }
    .nav-link:hover::after {
      transform: translateY(2px) scale(1); }
  .nav-link:focus {
    color: #B90A1F; }
    .nav-link:focus::after {
      transform: translateY(2px) scale(0); }

.dropdown-menu {
  box-shadow: 0 2px 4px -1px rgba(34, 34, 34, 0.49); }

.dropdown-item {
  text-transform: lowercase;
  color: #1D1D1D;
  padding-top: 0.5em;
  padding-bottom: 0.6em; }

.menu--center {
  justify-content: flex-end; }

.padding--none {
  padding-right: 0;
  padding-left: 0; }

.d-flex {
  width: 24%; }

@media (max-width: 992px) {
  .d-flex {
    width: 100%; } }
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; } }
@media (min-width: 769px) and (max-width: 991px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0; }

  .navbar-expand-lg .navbar-nav {
    margin-right: 0; }

  .nav-link {
    text-align: center; } }
@media (max-width: 768px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0; }

  .navbar-expand-lg .navbar-nav {
    margin-right: 0; }

  .nav-link {
    text-align: center; } }
.nav-link {
  padding: 0.5rem 20px; }

.navbar-brand {
  width: 15%; }
  .navbar-brand img {
    width: 100%; }

@media (min-width: 769px) and (max-width: 991px) {
  .navbar-brand {
    display: block;
    width: 35%; } }
@media (max-width: 768px) {
  .navbar-brand {
    width: 45%; } }
@media (max-width: 480px) {
  .navbar-brand {
    width: 50%; } }
@media (max-width: 360px) {
  .navbar-brand {
    width: 60%; } }
.navbar-toggler {
  padding: 0.10rem 0.25rem; }
  .navbar-toggler:focus {
    text-decoration: none;
    box-shadow: none; }
  .navbar-toggler span {
    font-size: 35px;
    line-height: 150%;
    color: #1D1D1D; }

.navbar-expand-lg .navbar-nav {
  margin-right: 8%; }

.form-control:focus {
  border-color: #3C7D4A;
  box-shadow: 0 0 0 0.15rem #0b6a2440; }

.dropdown-toggle::after {
  margin-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0; }

.dropdown-item:active {
  color: #1D1D1D;
  text-decoration: none;
  background-color: #9bb9a1; }

.btn-outline-success {
  color: #3C7D4A;
  border-color: #3C7D4A; }

.btn-outline-success:hover {
  color: #fff;
  background-color: #3C7D4A;
  border-color: #3C7D4A; }

.btn-outline-success:active {
  color: #fff;
  background-color: #3C7D4A;
  border-color: #3C7D4A; }

.accordion {
  min-height: 200px;
  padding-bottom: 50px; }

.accordion-left {
  padding-bottom: 0px; }

.accordion-item {
  margin-bottom: 15px;
  border: 0;
  background-color: #fff0; }

.accordion-body {
  padding: 0; }

.accordion-body-sidebar {
  padding-top: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.148);
  border-right: 1px solid rgba(0, 0, 0, 0.148);
  border-bottom: 1px solid rgba(0, 0, 0, 0.148); }

.accordion-button:focus {
  box-shadow: none; }

.accordion-button {
  padding: 15px 10px 15px 10px;
  background-color: #99BFA1; }

.accordion-button:not(.collapsed) {
  color: #1D1D1D;
  background-color: #7aab84; }

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.accordion-button--white {
  background-color: rgba(255, 255, 255, 0);
  border-top: 0;
  margin-bottom: 10px;
  padding: 5px 0 3px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.accordion-button--white:not(.collapsed) {
  background-color: white;
  border-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.accordion-button:focus {
  color: #1D1D1D;
  border-color: rgba(0, 0, 0, 0.5); }

.accordion-button:hover {
  color: #1D1D1D;
  border-color: rgba(0, 0, 0, 0.5); }

.accordion-button::after {
  background-image: none;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg); }

.accordion-button:not(.collapsed)::after {
  bottom: 15px;
  background-image: none;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(225deg); }

/*# sourceMappingURL=style.css.map */
