@media (max-width: 480px) {

  .programs {
    &__blocks {
      &_card {
        min-height: 1px;
        margin-bottom: 11px;
        padding: 5px 24px 10px 24px;
        background-position: 0% 98%, 100% 0%;
        background-size: 78%, 37vh;
      }
    }
  }

  .process {
    background-size: 55%;

    &__blocks {
      padding-bottom: 62px;
    }
  }

  .form {
    &__block {
      &_wrap {
        width: 94%;
        padding: 30px 20px 30px 20px;
        input[type=radio]{
          width: 5%;
        }
      }
    }
  }
  label {
    font-size: 0.8em;
  }
  .mark-p {
    font-size: 0.8em;
  }

  .benefits {
    margin-top: 0;
    padding-top: 45px;

    &-header {
      display: none;
    }

    & h2 {
      margin-top: 0;
    }

    &__blocks {
      &_item {
        margin-bottom: 0;

        & div {
          margin-bottom: 25px;

          &:nth-child(1) {
            min-height: 0;
          }

          &:nth-child(2) {
            margin-bottom: 25px;
          }
        }

      }
    }
  }
}