@media (max-width: 480px) {
  .body-page {
    background: url(../../img/footer-page-img-480.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .page {
    padding-top: 130px;
  }

  .programs {
    padding-top: 45px;

    &-header {
      display: none;
    }

    & h2 {
      margin-top: 0;
    }

  }

  .process {
    background-size: 55%;

    &__blocks {
      padding-bottom: 62px;
    }
  }

  .benefits {
    margin-top: 0;
    padding-top: 45px;

    &-header {
      display: none;
    }

    & h2 {
      margin-top: 0;
    }

    &__blocks {
      &_item {
        margin-bottom: 0;

        & div {
          margin-bottom: 25px;

          &:nth-child(1) {
            min-height: 0;
          }

          &:nth-child(2) {
            margin-bottom: 25px;
          }
        }

      }
    }
  }
}