.first-font {
  font-family: 'G Display', sans-serif;
}

.second-font {
  font-family: 'Roboto', sans-serif;
}

/* h1 */
h1 {
  @extend .first-font;
  font-size: 2.29em; //36.5
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
  color: #1D1D1D;
}

h2 {
  @extend .first-font;
  font-size: 1.6em; //26
  font-stretch: normal;
  font-style: normal;
  line-height: 149%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: $section-margin-bottomn;
}

.h2-page {
  margin-top: -10px;
  margin-bottom: 0.5em;
}

.text-cover1 {
  position: relative;
  @extend .first-font;
  font-size: 1.3em; //16px    
  text-align: right;
  color: #4B594E;
  margin-bottom: 20px;

  &:before {
    position: absolute;
    top: -2px;
    right: 247px;
    content: '>';
    @extend .second-font;
    font-size: 1.6em;
  }
}
.text-cover2 {
  @extend .first-font;
  font-size: 1.3em; //21px
  line-height: 161%;
  text-transform: lowercase;
  color: #E2F0E5;
  margin-bottom: 55px;

  & span {
    margin-left: 39%;
    text-transform: uppercase;
    color: white;
  }
}

/* main text */
.text-basic,
p {
  @extend .second-font;
  font-size: 1em; //16px
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  color: $text-main;
  margin-bottom: 15px;
}

.benefits__blocks_item div p {
  margin-bottom: 0;
}

.text--grey {
  color: $text-grey;
}

.text--green {
  color: $text-green;
}

.text--white {
  color: white;
}

.footer-wrap div p {
  font-size: 0.875em; //14
}

.footer-wrap div strong {
  font-size: 1em; //14
  text-transform: lowercase;
}

// start links
a {
  @extend .second-font;
  font-size: 1em; //16px
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  text-transform: lowercase;
  color: $links;

  &:hover {
    color: darken($links, 10%);
  }
}
.top-menu-link {
  display: block;
  margin-bottom: 15px;
  @extend .second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: $top-menu-link;

  &:hover {
    color: darken($top-menu-link, 20%);
  }
}
// end links

// start cards
.programs__blocks_card p {
  &:nth-child(1) {
    display: block;
    @extend .first-font;
    font-size: 2.44em;
    text-transform: uppercase;
  }
  &:nth-child(2) {
    @extend .second-font;
    font-size: 1em;
    text-transform: uppercase;
    text-align: right;
  }
}
.numbers {
  display: block;
  margin-right: 10px;
  @extend .first-font;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 89%;
  letter-spacing: 0.05em;
  color: #8EC59A;
}
.process {
  &__item {
    & p {
      display: block;
      line-height: 120%;
    }
  }
}
// end cards

// start form4 и 5
// прописать вручную фонтфамили
.form__block_wrap p {
  &:nth-child(2) {
    display: block;
    @extend .first-font;
    // font-family: 'G Display', sans-serif;
    font-size: 1.6em;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
  }
  &:nth-child(3) {
    @extend .second-font;
    font-size: 1em;
    margin-bottom: 10px;
  }
}
.form__block_wrap p {
  &:nth-child(4) {
    display: block;
    font-family: 'G Display', sans-serif;
    font-size: 1.6em;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
  }
  &:nth-child(5) {
    @extend .second-font;
    font-size: 1em;
    margin-bottom: 10px;
  }
}
.form2__block-attention_wrap p{
  &:nth-child(2) {
    display: block;
    @extend .first-font;
    font-size: 1.6em;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
  }
  &:nth-child(3) {
    @extend .second-font;
    font-size: 1em;
    text-align: center;
  }
}
// end form

// start accordion
.accordion-header-sidebar {
  @extend .first-font;
  font-size: 0, 875em; //14
  font-stretch: normal;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .accordion-header-sidebar {
    font-size: 0.8rem;
}
}
@media (max-width: 768px) {
  .accordion-header-sidebar {
    font-size: 1rem;
}
}
.accordion-header-main {
  @extend .first-font;
  font-size: 0, 875em; //14
  font-stretch: normal;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.05em;
}
.accordion-body a {
  @extend .second-font;
  font-size: 1em; //16px
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-transform: none;
  color: $text-grey;
  display: block;
  margin: 0 0 11px 0;
  padding: 0 0 0 10px;
  &:hover {
    background-color: lighten($bg-green, 20%);
  }
}
// END accordion