/* start footer down */
html,
body {
  height: 100%;
}

.body-page {
  min-height: 100%;
}

.footer-page {
  height: 217.02px;
  margin-top: -217.02px;
}

.clr {
  height: 161.02px;
}

@media (min-width: 769px) and (max-width: 991px) {
  .footer-page {
    height: 259.63px;
    margin-top: -259.63px;
  }

  .clr {
    height: 259.63px;
  }
}

@media (max-width: 768px) {
  .footer-page {
    height: 259.98px;
    margin-top: -259.98px;
  }

  .clr {
    height: 259.98px;
  }
}

@media (max-width: 480px) {
  .footer-page {
    height: 455.59px;
    margin-top: -455.59px;
  }

  .clr {
    height: 455.59px;
  }
}

/* end footer down */