/* start footer down */
html, body {
  height: 100%;
}
.body-page {
  min-height: 100%;
}
footer {
  height: 217px;
  margin-top: -217px;
}
.clr {
  height: 217px;
}
@media (max-width: 768px) {
  footer {
    height: 316px;
    margin-top: -316px;
  }
  .clr {
    height: 316px;
  }
}
@media (max-width: 480px) {
  footer {
    height: 512px;
    margin-top: -512px;
  }
  .clr {
    height: 512px;
  }
}
/* end footer down */
