$text-main: #1D1D1D;
$text2: #2d2d2d;
$text-grey: #636363;
$btn: #850E1C;
$links: #3C7D4A;
$link-menu-hover: #B90A1F;
$top-menu-link: #494949;
$bg-green: #99BFA1;
$bg-white: #ffffff;
$card-grey:  #F7F7F7;
$text-green: #609F6D;
$h2-margin-bottomn: 40px;
$section-margin-bottomn: 55px;

$maincolor: #A873EC;
// изменяем переменные цвета для медиазапросов здесь, в медиазапросе с темже именем не работает переопределение
$maincolor1600: #3F8CD2;
$maincolor1280: #57CACA;
$maincolor1024: #66B05A;
$maincolor768: #FFCF53;
$maincolor926-480: #F6943A;
$maincolor640-360: #FF7D7D;

$border-sidemenu: 1px solid rgba(0, 0, 0, 0.148);
$border-accordeon: 1px solid rgba(0, 0, 0, 0.5);
$box-shadow-menu: 0 2px 4px -1px rgba(34, 34, 34, 0.49);
$box-shadow-container: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);

